.calculator{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    background-color: lightblue;
    border: 1px solid black;
    padding: 30px;
    width: 300px;
}
#display{
    height: 40px;
    width: 85%;
    font-size: 35px;
}
.row-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.button{
    font-weight: bolder;
    font-size: 30px;
    border-radius: 5px;
    height: 70px;
    width: 70px;
}
.special{
    background-color: darkorange;
}

